<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Libro</title>
</head>
<body>
<h1>Detalles del Libro</h1>
<p><strong>Título:</strong> <span th:text="${libro.titulo}">Título</span></p>
<p><strong>Autor:</strong> <span th:text="${libro.autor}">Autor</span></p>
<p><strong>Año de publicación:</strong> <span th:text="${libro.anioPublicacion}">Año</span></p>
<a href="/" class="btn-volver">Volver</a>
</body>
</html>
